__pycache__/
bin/poshy/addons/minifetch.py
bin/poshy/addons/.motd
bin/poshy/aya.py
.env/
.vscode/
.DS_STORE
minifetch.py
.idea/
/dist/
poshy.egg-info/dependency_links.txt
poshy.egg-info/PKG-INFO
poshy.egg-info/SOURCES.txt
poshy.egg-info/top_level.txt
